<section id="sobre" class="bg-secondary mt-4 mt-lg-0">
    <div class="container my-auto">
        <div class="row align-items-center g-3">
            <div class="col-lg-7 order-1 order-lg-0">
                <div>
                    <p class="display-5 mb-1">
                        Olá, eu sou <strong class="fw-bold">Júlia Hartmann</strong>!
                    </p>

                    <span class="display-4 fw-bold fst-italic sobre-banner-text">
                        Desenvolvedora de Software em formação.
                    </span>
                </div>

                <div class="mt-4">
                    <p class="fs-5">
                        Estou em transição de carreira para a área de tecnologia e atualmente
                        estudo desenvolvimento de software com foco em
                        <strong class="sobre-banner-text">C# e .NET</strong>.
                        Durante minha formação, venho desenvolvendo projetos utilizando tecnologias como
                        <strong>ASP.NET Core, Entity Framework Core, SQL Server, Angular e TypeScript</strong>,
                        aplicando boas práticas de programação, testes e desenvolvimento web.
                    </p>
                </div>

                <div class="d-flex flex-wrap align-items-center gap-3 fs-5">
                    <span>
                        <i class="bi bi-geo-alt fs-5"></i>
                        SC - Brasil
                    </span>

                    <span>-</span>

                    <span>
                        <i class="bi bi-envelope-at fs-5"></i>
                        juliahartmann&#64;outlook.com.br
                    </span>

                    <span>-</span>

                    <span class="d-flex justify-content-center gap-2">
                        <a target="_blank" href="https://github.com/JuliaaHartmann">
                            <i class="bi bi-github fs-1"></i>
                        </a>

                        <!-- <a target="_blank" href="SEU-LINK-LINKEDIN">
                            <i class="bi bi-linkedin fs-1"></i>
                        </a> -->
                    </span>
                </div>
            </div>

            <div class="col-auto mx-auto sobre-banner-img">
                <img class="img-fluid rounded-circle" src="img/julia.png" alt="Foto de Júlia Hartmann" />
            </div>
        </div>
    </div>
</section>